@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  color:whitesmoke;
  font-family: 'Roboto Mono', monospace;
}
h1{
  font-size:3rem;
  margin-bottom:1rem
}
a{
  font-size: 3rem;
  margin:1rem;
}
img{
  position: absolute;
  top:0;
  z-index:-1;
  opacity:0.5;
  width: 100vw;
}
body{
  display:flex;
  flex-direction: column;
  align-items:center;
  background-image: linear-gradient(#1a0154, black);
  padding: 5rem;
  width:100vw;
  overflow-x: hidden;
}
header{
  padding:2rem;
  display:flex;
  flex-direction: column;
  align-items:center;
  
}
main > section{
  display:flex;
  flex-direction:column;
  gap:2rem;
  text-align:center;
  margin-bottom:2rem;
}
.tecnologies > article{
  display:flex;
  margin:auto;
  gap: 2rem;
  
}
.tecnologies > article > div{
  font-size:1.5rem;
  background-color:black;
  width:15rem;
  height: 15rem;
  padding:4rem 2rem 2rem;
  border-radius:10rem;
}
@media (max-width: 670px){
  html{
    font-size:0.9vw;
  }
  .tecnologies > article{
    flex-direction:column;
    gap:5rem;
  }
  .tecnologies > article > div{
  padding-top:9rem;
  font-size:5rem;
  width:50rem;
  height: 50rem;
  border-radius:25rem;
}
  .levels{
    margin: 2rem;
  }
}