@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
html{
  background-image: linear-gradient(-140deg, #2d277e, #60337f);
}
body{
  background-image:url(https://raw.githubusercontent.com/laaledesiempre/newresume/reactVersion/public/fando.webp) ;
  width:100vw;
  overflow-x: hidden;
  padding: 5vw;
}

article{
  margin: 0 auto;
}
section{
  margin: 1rem auto
}
